@import url('http://fonts.cdnfonts.com/css/circular-std-book');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Circular Std Book', sans-serif;
    text-decoration: none;
  
}


  body {

    align-items: center;
    justify-content: center;
    /* height: 100vh; */
   
    
    background-image: linear-gradient(
    to left top,
    #3f0071,
    #37016b,
    #2f0165,
    #28015e,
    #200158,
    #1d0256,
    #1a0255,
    #170353,
    #180555,
    #1a0757,
    #1b0a59,
    #1c0c5b
  );
  /* display: flex; */
  width: 100%; 
  /* padding: 0 1.5rem; */
}
  

  
  /* header */
  
   .header {
    position: absolute;
    width: 100%;
    z-index: 3;
    top: 0;
    background-image: linear-gradient(
    to right top,
    #47007a,
    #410074,
    #3a006f,
    #340069,
    #2c0063,
    #25005d,
  );
    
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 17px 20px;
    text-decoration: none;
    color: white;
 
  }
  
  .header li a:hover,
  .active,
  .header .menu-btn:hover {
    background-color: #d75ddb;
  }
  
  .header .logo {
    display: block;
    float: left;   
    padding: 10px 10px;
    text-decoration: none;
  }

  .header .logo img{
    height: 3em;
    width: 12em;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 30px 20px;
    position: relative;
    user-select: none;
    
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 24px;
    
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
   
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  

  
  @media (min-width: 65em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 25px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header .logo{
      padding: 10px 100px;
    }
    .header ul .contact{
      padding-right: 100px;
    }
  }

  @media (max-width: 65em){
    .header .menu{
        background-image: linear-gradient(
    to right,
    #22005f, 
    #24005d,
    #1d0156 ,
     #150050
  );
    }

  } 

   @media (min-width: 540px){

    .container .info,
    .textarea {
        padding-left: 2em;
        padding-right: 2em;
    }
  }   

  /* card */
 
  * {
    box-sizing: border-box;
  }
  
  .container{
    padding-top: 5em; 
    padding-bottom: 5em;
  }
 
  .blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 6px 6px 12px #24005d, -6px -6px 12px #24005d !important;
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
  }

  .blog-slider:hover{
    transform: scale3d(1.006, 1.006, 1);
  }
 

  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
    }
  }
  .blog-slider__item {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
    }
  }
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
  }

  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;

    
    border-radius: 20px;
    transform: translateX(-100px);
    overflow: hidden;
  }
  
  .blog-slider__img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
  }
  .blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* opacity: 0; */
    border-radius: 20px;
    /* transition: all 0.3s; */
  }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
    }
  }
  .blog-slider__content {
    padding-right: 25px;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
    }
  }
  /* .blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
  } */
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #511c58;
    margin-bottom: 20px;
  }
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  .blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #511c58 0%, #720ba1 74%);
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0.4em;
  }

  @media screen and (max-width: 576px) {
    .blog-slider__button {
      width: 100%;
    }
  }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container{
      margin-top: 7em;
      padding-bottom: 0px;
    }
  }
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 5px;
    }
  }
  .blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
  }
  .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #4e1096;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
    }
  }

  .footer{
    background-color: #1f1b24;
    padding-top: 3.8em;
    padding-bottom: 3em;
    text-align: center;
  }

  .gl_icons{
    padding-bottom: 2.5em;
  }

  .gl_icons a{
    padding: 1%;
  }

  .copyright p{
    color: white;
  }

  .copyright a{
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }

  .copyright a:hover{
    color: #d75ddb;
  }

  ::-webkit-scrollbar {
    width: 15px;
   border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background:linear-gradient(to top, rgba(216, 23, 248, 1),rgba(0, 225, 212, 1));
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(181, 4, 197); 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #fff; 
    border-radius: 10px;
  }