<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- navbar start -->

    <header class="header">
        <a href="" class="logo"><img src="/images/16-10-2021 08_11_01.png" alt=""></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#" class="active">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li class="contact"><a href="#" >Let's Talk</a></li>
        </ul>
    </header>

    <!-- navbar end -->

    <!-- illustration part -->
     
    <div class="vectors">
            <ul>
                <img  id="Ikbal" src="/images/Ikbal 2.svg" alt="vectoe image of human">
                <img  id="Badrun" src="/images/Badrun 4.svg" alt="vectoe image of human">
                <img  id="Marni"  src="/images/Marni 1.svg" alt="vectoe image of human">
            </ul> 
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Delectus voluptas, blanditiis architecto repellat veniam
              modi eligendi recusandae praesentium.
        </p>
        
     </div>
      <!-- illustration part  ends-->

      <!-- paragraph -->
      <div class="shortpara">
          <h1>Friendly folks, standing by</h1>
          <p >
                Always humans, never bots.
                The hands-down ,sharpest and freindliest team in the student-run organisation.
                Contact us for the mentorship and support. We'll get back to you soon
          </p>
          >
      </div>



</body>
</html>